@import url('fonts.css');

.left-bar-container {
    display: flex;
    flex-direction: column;
}

.left-bar {
    width: 16rem;
    height: 100vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-content: start;
    background-color: #f9f9f9;
}

#left-bar.active {
    background: #423F3E;
    color: #f9f9f9;
}

.logo-container {
    width: fit-content;
    height: 3rem;
    display: flex;
    justify-content: start;
    gap: 1rem;
    padding-left: 1.5rem;
    align-items: center;
    padding-top: 1rem;
}
.logo-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    font-family: 'ArimoBold';
    font-weight: bold;
}

.fa-cloud{
    color: #AAD7D9;
    font-size: 2em;
}

.button-container {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 2.5rem;
}

.upload-button-container {
    width: 8.4rem;
    height: 3.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.download-button-container {
    width: 10rem;
    height: 2.5rem;
    padding-left: .1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.mkdir-button-container {
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: start;
}

.fa-folder-plus {
    color: #54aeff;
}
.fa-cloud-arrow-down {
    color: #238636;
}

.fa-hard-drive {
    color: #79999b;
}

.input-files {
    display: none;
}
