@import url('fonts.css');

.left-bar-container {
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
    padding-left: 0;
    padding-right: 0;
}

.left-bar {
    width: 16rem;
    height: 100vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-content: start;
    background-color: #f9f9f9;
    padding-top: 3rem;
}

#left-bar.active {
    background: #423F3E;
    color: #f9f9f9;
}



.fa-cloud {
    color: #AAD7D9;
    font-size: 2em;
}

.button-container {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 2.5rem;
}

.upload-button-container {
    width: 8.4rem;
    height: 3.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.download-button-container {
    width: 10rem;
    height: 2.5rem;
    padding-left: .1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.mkdir-button-container {
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: start;
}

.fa-folder-plus {
    color: #54aeff;
}

.fa-cloud-arrow-down {
    color: #238636;
}

.fa-hard-drive {
    color: #79999b;
}

.input-files {
    display: none;
}

.menu-button-cont {
    display: none;
    width: fit-content;
}

@media screen and (max-width: 768px) {
    .menu-button-cont{
        display: block;
    }
    .left-bar-container {
        display: none;
    }

    .left-bar-container.visible {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 16rem;
        height: 100%;
        background-color: #f9f9f9;
        z-index: 1000;
        transition: left 0.3s ease;
        box-sizing: border-box;
    }

    .close-bar-cont {
        width: 1rem;
        height: 1rem;
        display: block;
        position: absolute;
        left: 14rem;
        top: 1rem;
        
    }
    .close-bar span {
        width: fit-content;
        height: fit-content;
    }

}

