.left-bar-container {
    display: flex;
    flex-direction: column;
}

.left-bar {
    width: 15rem;
    height: 100vh;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-content: start;
    background-color: #F5F5F5;
}

.logo-container {
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.upload-button-container {
    width: 100%;
    display: flex;
}

.download-button-container {
    width: 100%;
}
.mkdir-button-container {
    width: 100%;
    display: flex;
}

.input-files {
    display: none;
}