@import url('fonts.css');

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 0;
    font-family: 'ArimoMedium';
}

.button:hover {
    background-color: #e1e2e4;
    outline: none;
    border: none;
}


.upload {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
}

.upload:active {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
    outline: none;
}

.upload:focus {
    outline: none;
}

.upload-sp {
    width: 5.5rem;
    height: auto;
    font-family: 'ArimoMedium';
    font-size: 14px;
}

.i-sp-upload {
    width: auto;
    height: auto;
}

.download {
    width: auto;
    height: 2.5rem;
    gap: .1rem;
    padding-left: .6rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.download:focus {
    outline: none;
}

.dwn-sp {
    width: 5.2rem;
    padding: .1rem;
    height: auto;
    font-family: 'ArimoMedium';
    font-size: 14px;
}
.i-sp-dwn{
    width: auto;
    height: auto;
}

.mkdir {
    background-color: #f9f9f9;
    border-radius: 1rem;
    padding-left: .7rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.mkdir:focus {
    outline: none;
}

.mkdir-sp{
    width: 6.8rem;    
    height: auto;
    font-family: 'ArimoMedium';
    font-size: 14px;
    padding-left: .1rem;
}

.i-sp-mkdir{
   width: auto; 
   height: auto;
}

.back {
    width: 100%;
    height: 2rem;
    padding: .5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
}

.back:focus {
    outline: none;
}

.home {
    width: 100%;
    height: 2rem;
    padding: .5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none
}

.home:focus {
    outline: none;
}

.sorted {
    width: 100%; 
    height: 2rem;
    padding: .5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
}

.sorted:focus {
    outline: none;
}

.delete {
    color: #D24545;
    outline: none;
    border: none;
    pad: .5rem;
}
.delete span {
    padding: .2rem;
}
.delete:hover {
    background-color: #d5d6da;
}