.fl-and-dr-container {
    width: 100%;
    height: 48rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.spinner-cont-dwn {
    position: fixed;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.file-cont {
    width: 100%;
    height: auto;
}
.file {
   display: flex;
   flex-direction: row;
   border-top: 1px solid #B5C0D0;
   border-bottom: 1px solid #B5C0D0;
}
.file:hover {
    background-color: #e7e8ee;
}

.dir-file-cont {
    width: 100%;
    height: auto;
}

.dir {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #B5C0D0;
    border-bottom: 1px solid #B5C0D0;
}
.dir:hover {
    background-color: #e7e8ee;
}


.fl-sp {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 2rem;
    text-align: left;
    padding: .5rem;
    cursor: default;
}

.dir-sp {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 2rem;
    text-align: left;
    padding: .5rem;
    cursor: default;
}

.fl-icon {
    width: 1rem;
    padding: .5rem;
}
.fl-icon i {
    padding-top: .5rem;
}
.dir-icon {
    width: 1rem;
    padding: .5rem;
}
.dir-icon i {
    padding-top: .5rem;
}

.selected {
    background-color: #AAD7D9;
}
.selected:hover {
    background-color: #AAD7D9;
}

.unselected {
    background-color: #FFFFFF;
}

.fa-folder{
    color: #6eb8c5;
}

.fa-file {
    color: #9DB2BF ;
}

