@font-face {
    font-family: 'Arimo-Medium';
    src: url('/public/fonts/Arimo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Arimo-Bold';
    src: url('/public/fonts/Arimo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Arimo-Medium';
    src: url('/public/fonts/Arimo-Medium.ttf') format('truetype');

}