@font-face {
    font-family: "ArimoMedium";
    src: local("ArimoMedium"), 
    url("../fonts/Arimo-Medium.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "ArimoBold";
    src: local("ArimoBold"), 
    url('../fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "ArimoRegular";
    src: local("ArimoRegular"), 
    url("../fonts/Arimo-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Ultra";
    src: local("Ultra"), 
    url("../fonts/Ultra-Regular.ttf") format('truetype');
    font-weight: normal;
}