.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100vh;
  padding: .5rem;
  margin: 0;
  overflow: hidden;
  align-items: flex-start;
  box-sizing: border-box;
}

.main-section {
  width: 100%;
  height: auto;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  padding-top: 3rem;
  flex-direction: column;
  box-sizing: border-box;
}

.center-container {
  width: 100%;
  height: auto;
  display: flex;
}


@media screen and (max-width: 768px) {
  .main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    gap: .5rem;
  }
  .main-section {
    padding-top: 0;
  }
}