@import url('fonts.css');

.opt-icon-container {
    width: 100%;
    height: auto;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    flex-wrap: wrap;
}
#opt-bar.active{
    background: #423F3E;
}
.btns-opt {
    width: 2rem;
    height: 2rem;
}
.path-opt {
    display: flex;
    justify-content: center;
    width: auto;
    height: 2rem;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.sorted-opt {
    width: 2rem;
    height: 2rem;
}

.path-opt span {
    height: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'ArimoBold';
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .opt-icon-container {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
}
