
.top-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    min-width: 15rem;
    height: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container {
    width: 38%;
    min-width: 15rem;
    height: 2.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #DDE6ED;
    border-radius: 2rem;
    padding-left: .5rem;
    gap: .5rem;

}

.input-container:focus-within {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container input {
    width: 87%;
    min-width: 10rem;
    height: 2rem;
    background-color: #DDE6ED;
    outline: none;
    border: none;
    border-radius: 2rem;
}

.input-container input:focus {
    background-color: #FFFFFF;
    outline: none; 
}

.input-container input::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.search {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20rem;
}

.search:hover {
    background-color: #c9cccf;
}

.search-sp {
    width: 100%;
}